<div class="whole-index">
  <% if current_user %>
    <%= link_to "New Blog Post", new_blog_path, class: "btn btn-sm btn-primary" %>
  <% end %>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.author %></td>
          <td><%= teaser(blog) %></td>
          <td><%= link_to "Show", blog_path(blog), class: "btn btn-sm btn-primary" %>
        </tr>
      <% end %>   
    </tbody>
  </table>
5</div>
