<div class="whole-index">
  <% if current_user %>
    <%= link_to "Create New Tweet",
      new_tweet_path,
      class: "btn btn-sm btn-primary"
    %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <strong>
        <i>@<%= tweet.user.username %></i>
      </strong>

      <div class="time">
        <%= tweet.created_at.strftime("%b-%d-%y%t%I:%M %p") %>
      </div>
      <p><%= tweet.body %></p>

      <strong>
        <h5>Comments</h5>
      </strong>

      <% tweet.comments.each do |comment| %>
        <div>
          <strong><%= comment.user.username %>: </strong>
          <%= comment.body %>
        </div>
      <% end %>

      <p><%= link_to "Comment", tweet_path(tweet), class: "btn btn-sm border-dark" %></p>
    </div>
  <% end %>
</div>
