<div class="tweet spacer">
  <%= render 'tweets', tweet: @tweet %>
</div>

<%= link_to "Back", tweets_path,
  class: "btn btn-sm btn-secondary spacer"
%>

<%= form_with model: [@tweet, @comment] do |f| %>
  <%= f.text_field :body,
    required: true,
    placeholder: "Add a Comment",
    class: "form-control spacer"
  %>
  <%= f.submit "Comment",
    class: "btn btn-sm btn-primary spacer"
  %>
<% end %>

<%= render 'comment', tweet: @tweet %>
